<p>
  <strong>Nazwa:</strong>
  <%= @plant.name %>
</p>
 <p>
  <strong>Rodzina:</strong>
  <%= @plant.family %>
</p>

<p>
  tu będzie foto...
</p>

<p>
  <strong>Uprawa:</strong>
  <%= @plant.condition %>
</p>

<%= link_to 'Back', cathegories_path %>
